{% extends 'base.html.twig' %}
{% block body %}

    <h2> Page de contact </h2>

    <form action="{{ path('resultat')}}" >
        <input type="text" name="nombre-a">
        <input type="text" name="signe">
        <input type="text" name="nombre-b">
        <input type="submit">
    </form>
{% endblock%}








