{% extends 'base.html.twig' %}
{% block body %}

    <h2> Page de contact </h2>

    <form>
        <input type="text" name="nombre-a">
        <input type="text" name="signe">
        <input type="text" name="nombre-b">
        <a href="{{ path('resultat')}}">      
          <input type="submit">a
    </a>
    </form>
{% endblock%}







